{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Login Page</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>

<body>
    <form action="{% url 'signin' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <h3>Login Here</h3>
        
        <label for="email">Email</label>
        <input type="text" placeholder="Enter Email" name="username" id="email">

        <label for="password">Password</label>
        <div class="password-toggle">
            <input type="password" placeholder="Password" id="password" name="password">
            <i id="toggle-icon" class="fas fa-eye toggle-icon" onclick="togglePasswordVisibility()"></i>
        </div>
        <button type="submit">Log In</button>
        <br><br>
        <a href="{% url 'register' %}">Create an account</a>
    </form>
</body>

</html>