<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .btn-trial {
            background-color: #F38F2B;
            color: white;
            padding-left: 2.3rem;
            padding-right: 2.3rem;
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
            border-radius: 2rem;
        }

        .btn-trial:hover {
            background-color: white;
            border: solid 2px #F38F2B;
            color: black;
        }
        /* .submission h2{
            visibility: hidden;
        }
        .submission h2:target {
            visibility: visible;
        } */
    </style>
</head>

<body>
    <div class="container">
        <div class="card mt-5">
            <div class="card-header text-center">
                <h4><b>House Rent Prediction</b></h3>
            </div>
            <div class="description text-center">
                <h6>Enter House Details to Predict Rent</h6>
            </div>
            <div class="card-body">
               
                <form method="post" action="{% url 'result' %}">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputState">Number of BHK</label>
                            <select id="inputState" class="form-control" name="n0" required>
                                <option selected>Select the number of BHK</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>

                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Size of the House (sq.ft)</label>
                            <input type="number" class="form-control" id="inputPassword4" placeholder="Enter the Size of the House" name="n1" required>
                            <p>1 Meter Square = 10.76 Square Feet</p>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState">Number of Bathrooms</label>
                            <select id="inputState" class="form-control" name="n2">
                                <option selected>Select the number of Bathrooms</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState">City</label>
                            <select id="inputState" class="form-control" name="n3" required>
                                <option selected>Select a City</option>
                                <option>Kolkata</option>
                                <option>Mumbai</option>
                                <option>Delhi</option>
                                <option>Bengalore</option>
                                <option>Hyderabad</option>
                                <option>Chennai</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState">Furnishing Status</label>
                            <select id="inputState" class="form-control" name="n4">
                                <option selected>Select the Furnishing Status</option>
                                <option>Furnished</option>
                                <option>UnFurnished</option>
                                <option>Semi-Furnished</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Posted on Date</label>
                            <input type="date" class="form-control" id="inputPassword4" name="n5" required>
                        </div>
                    </div>
                    <div class="submission">
                        <button type="submit" class="btn btn-trial mx-auto d-block" id="formpredictBtn">PREDICT</button>
                        <h2 id="predictionText">{{predicted_rent}}</h2>
                    </div>    
                </form>
            </div>
        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</script>
</html>